@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Student Page";
}

<div>
    <h2> Student Details</h2>
    <div>
        <ul>
            <li><strong>Name</strong>: Paul Andrew P. De Castro</li>
            <li><strong>Age</strong>: 19</li>
            <li><strong>Gender</strong>: Male</li>
            <li><strong>Address</strong>: Santa Maria, Santo Tomas, Batangas</li>
        </ul>
    </div>
    
    <div>
        <h2>Student Image</h2>
        <img src="/Images/lol.jpg" alt="Student Images" />
    </div>

    <div class="mt-2">
        <h2>Student Table</h2>
        <table class="student-table">
        
            <tr>
                <td>Game Name</td>
                <td>Player Name</td>
                <td>Game Title/Rank Age</td>
            </tr>

            <tr>
                <td>Call of Duty Mobile</td>
                <td>ƧƧ.Aeroo.</td>
                <td>Legendary</td>
            </tr>

            <tr>
                <td>Call of Duty Mobile</td>
                <td>ImnotAeroo</td>
                <td>Legendary</td>
            </tr>

            <tr>
                <td>Mobile Legends</td>
                <td>Aeroo.</td>
                <td>Mythic</td>
            </tr>

            <tr>
                <td>Valorant</td>
                <td>Aeroo.</td>
                <td>Unranked</td>
            </tr>

        </table>


    </div>









</div>



